﻿/*!
Theme Name: Orchid Store - Child Theme
Theme URI: https://themebeez.com/themes/orchid-store/
Author: themebeez
Author URI: https://themebeez.com
Description: Orchid Store is a clean, flexible, stylish & dynamic e-commerce WordPress theme. It is totally based on WooCommerce, WordPress plugin. Orchid Store can be used to build a wide range of online stores ranging from a fashion store, mobile and gadget store, furniture shop, sports shop, home décor store, jewellery store or any kind of multi-category online shop. Orchid Store has adequate built-in features that are required to build an online shop or stores. Orchid Store gives users the flexible customization experience for crafting their online shop with ease. Customization in Orchid Store is so simple that it can easily be tuned from WordPress live customizer. Orchid Store is fully widgetized where one can easily drag & drop widgets to their respective widget areas to display website sections at front-end. If you are looking to extend your online store with the page builder, you can easily do it using Elementor page builder. If you are wondering how Orchid Store looks, please do kindly visit https://themebeez.com/themes/orchid-store/ for live demo preview. Do kindly visit https://themebeez.com/docs/orchid-store-theme-documentation/ if you would need a theme setup documentation guide.
Version: 1.1.9
License: GNU General Public License v2 or Later
License URI: https://www.gnu.org/licenses/gpl-2.0.html or Later
Text Domain: orchid-store
Tags: custom-background, custom-menu, custom-logo, featured-images, full-width-template, one-column, two-columns, theme-options, threaded-comments, translation-ready, footer-widgets, blog, left-sidebar, right-sidebar, e-commerce, rtl-language-support

Orchid Store, WordPress Theme, Copyright (C) 2020, themebeez.
Orchid Store is distributed under the terms of the GNU GPL

Orchid Store is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*Modification 1*/
.os-breadcrumb-wrap .title h1{
	font-family:'Titillium Web', sans-serif;
	letter-spacing:1.3px;
}

/*Modification 2*/
/* 1025px and above screen sizes */
@media (min-width:1025px){

	/* Post Title */
	.os-breadcrumb-wrap .title h1{
		font-size:43px;
	}
	
}

/*Modification 3*/
#page .os-breadcrumb-wrap .mask{
	height:131px;
}

/* Breadcrumb Banner-*/
#content .os-breadcrumb-wrap{
	height:134px;
	padding-top:43px;
	
}

/*Modification 4*/
.copyrights-col .copyrights p{
	display:none;
}


/*Modification 5*/
#menu-footer .menu-item{
	box-sizing:content-box;
	height:25px;
	border-style:none;
	padding-top:0px;
	padding-bottom:0px;
}

/* Widget */
.footer-top .os-col .widget{
	min-height:176px;
	height:176px;
}

/* Modification 6*/
.footer-bottom .os-col img{
	position:relative;
	top:-187px;
	left:0px;
	bottom:auto;
}

/* Modification 7*/
.footer-entry .footer-bottom .os-row{
	height:0px;
}

/* Modification 8 */
#content .inner-page-wrap{
	padding-bottom:25px;
}

/* Modification 9 */
.footer-mask .footer-entry .footer-top{
	padding-top:30px;
}

/* Modification 10*/
.masterheader .mid-header{
	padding-top:20px;
	padding-bottom:20px;
}
